<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plats</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../scss/common.css">
</head>
<body class="bg-[#FDF4E3] text-[#A62735]">

    <header class="bg-[#A62735] text-[#FDF4E3] pb-4">
        <div class="flex flex-col items-center justify-center">
            <img src="../assets/img/logoblack.png" class="w-32 h-32 p-2 md:w-48 md:h-48" alt="Logo">
            <h1 class="text-3xl md:text-4xl font-extrabold text-center">Pizzeria Italiana Luca</h1>
        </div>
        <nav>
            <ul class="flex space-x-8 justify-center mt-4 text-lg md:text-xl">
                <li><a href="../src/index.html" class="hover:text-white hover:font-extrabold">Inici</a></li>
                <li><a href="../views/carta.html" class="hover:text-white hover:font-extrabold">Carta</a></li>
                <li id="gestio-menu-btn"><a href="../views/gestio.html" class="hover:text-white hover:font-extrabold">Gestió</a></li>
                <li id="login-menu-btn"><a href="../views/login.html" class="hover:text-white hover:font-extrabold">Iniciar Sessió</a></li>
                <li id="logout-menu-btn" class="hidden"><a href="" class="hover:text-white hover:font-extrabold">Tancar Sessió</a></li>
            </ul>   
        </nav>
    </header>
    <main class="p-4 mb-24">
        <section class="mb-4">
            <a href="/views/gestio.html" class="flex items-center text-[#A62735] hover:text-[#1E7040]">
              <span class="material-symbols-outlined text-5xl font-extrabold">arrow_back</span>
            </a>
          </section>
        <section class="text-center mb-4">
            <h2 class="text-3xl md:text-4xl font-extrabold mt-8 mb-4">Categories</h2>
        </section>

        <section class="ml-[20px] sm:ml-[50px] md:ml-[100px] lg:ml-[250px] mb-4">
            <a href="../views/crearCategoria.html">
                <button class="material-symbols-outlined buttons-admin">add_circle</button>
                        </a>
        </section>
        <section class="flex flex-col mb-4 md:flex-row justify-center gap-6 items-center">
            <table class="min-w-[75%] mx-8 border-collapse border table-fixed">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Nom de la categoria</th>
                        <th class="px-4 py-2 text-left">Accions</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="module" src="../js/categories.js"></script>
        <script type="module" src="../js/checkIfUserIsLogin.js"></script>
        <script type="module" src="../js/logout.js"></script>
</main>
</body>
</html>