<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuari</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../scss/common.css">
</head>
<body class="bg-[#FDF4E3] text-[#A62735]">

    <header class="bg-[#A62735] text-[#FDF4E3] pb-4">
        <div class="flex flex-col items-center justify-center">
            <img src="../assets/img/logoblack.png" class="w-32 h-32 p-2 md:w-48 md:h-48" alt="Logo">
            <h1 class="text-3xl md:text-4xl font-extrabold text-center">Pizzeria Italiana Luca</h1>
        </div>
        <nav>
            <ul class="flex space-x-8 justify-center mt-4 text-lg md:text-xl">
                <li><a href="../src/index.html" class="hover:text-white hover:font-extrabold">Inici</a></li>
                <li><a href="../views/carta.html" class="hover:text-white hover:font-extrabold">Carta</a></li>
                <li><a href="../views/gestio.html" class="hover:text-white hover:font-extrabold">Gestió</a></li>
                <li class="hidden"><a href="../views/login.html" class="hover:text-white hover:font-extrabold">Iniciar Sessió</a></li>
            </ul>   
        </nav>
    </header>
    <main class="p-4 mb-24 flex flex-col justify-center ">
      <section class="mx-auto mb-4 w-full max-w-lg">
        <div class="flex justify-center items-center mb-4">
          <div class="bg-[#FDF4E3] p-4 rounded-lg shadow-md w-full max-w-sm mx-4 md:max-w-md md:px-8">
            <h2 class="text-3xl font-extrabold text-center text-[#A62735] mb-8">Editar Usuari</h2>
            <form action="#">
              <div class="flex flex-col mb-4">
                <label for="email" class="text-lg font-semibold mb-2">Gmail:</label>
                <input type="email" name="email" id="email" required placeholder="Edita el teu gmail" class="p-4 border-2 border-[#A62735] rounded-lg focus:outline-none transition-all duration-300">
              </div>
      
              <div class="flex flex-col mb-4">
                <label for="password" class="text-lg font-semibold mb-2">Nova Contrassenya:</label>
                <input type="password" name="password" id="password" required placeholder="Edita la teva contrassenya" class="p-4 border-2 border-[#A62735] rounded-lg focus:outline-none transition-all duration-300">
              </div>
      
              <div class="flex flex-col mb-4">
                <label for="role" class="text-lg font-semibold mb-2">Rol:</label>
                <input type="text" name="role" id="role" value="user" readonly class="p-4 border-2 border-[#A62735] bg-gray-100 text-gray-600 rounded-lg cursor-not-allowed">
              </div>
      
              <div class="flex justify-center">
                <button type="submit" class="buttons" id="edit-user-btn">Guardar Canvis</button>
              </div>
              <div id="missatgeDiv"></div>
            </form>
          </div>
        </div>
      </section>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="module" src="../js/editarUsuari.js"></script>          
</main>
</body>
</html>