<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../scss/common.css">
</head>
<body class="bg-[#FDF4E3] text-[#A62735]">
    <header class="bg-[#A62735] text-[#FDF4E3] pb-4 mb-8">
        <div class="flex flex-col items-center justify-center">
            <img src="../assets/img/logoblack.png" class="w-32 h-32 p-2 md:w-48 md:h-48" alt="Logo">
            <h1 class="text-3xl md:text-4xl font-extrabold text-center">Pizzeria Italiana Luca</h1>
        </div>
        <nav>
            <ul class="flex space-x-8 justify-center mt-4 text-lg md:text-xl">
                <li><a href="../src/index.html" class="hover:text-[#ffffff] hover:font-extrabold">Inici</a></li>
                <li><a href="../views/carta.html" class="hover:text-[#ffffff] hover:font-extrabold">Carta</a></li>
                <li class="hidden"><a href="../views/gestio.html" class="hover:text-[#ffffff] hover:font-extrabold">Gestió</a></li>
                <li><a href="../views/login.html" class="hover:text-[#ffffff] hover:font-extrabold">Iniciar Sessió</a></li>
            </ul>   
        </nav>
    </header>
    <main>
        <div class="flex justify-center items-center  mb-4" >
            <div class=" bg-[#FDF4E3] p-4 rounded-lg shadow-md w-full max-w-sm mx-4 md:max-w-md md:px-8">
                <h2 class="text-3xl font-extrabold text-center text-[#A62735] mb-8">Inicia sessió</h2>
                <form>
                    <div class="flex flex-col mb-4">
                        <label for="email" class="text-lg font-semibold mb-2">Gmail:</label>
                        <input type="text" name="email" id="email" required placeholder="Introdueix el teu gmail" class="p-4 border-2 border-[#A62735] rounded-lg focus:outline-none transition-all duration-300">
                    </div>
    
                    <div class="flex flex-col mb-4">
                        <label for="password" class="text-lg font-semibold mb-2">Contrassenya:</label>
                        <input type="password" name="password" id="password" required placeholder="Introdueix la teva contrassenya" class="p-4 border-2 border-[#A62735] rounded-lg focus:outline-none transition-all duration-300">
                    </div>
    
                    <div class="flex justify-center">
                        <button type="submit" class="buttons" id="login-btn">Iniciar sessió</button>
                    </div>
                </form>
    
                <p class="mt-4 text-center">
                    <a href="../views/recuperarContrassenya.html" class="text-[#1E7040] underline">Has oblidat la contrassenya?</a>
                </p>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../js/login.js"></script>

</body>
</html>
