<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuaris</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../scss/common.css">
</head>
<body class="bg-[#FDF4E3] text-[#A62735]">

    <header class="bg-[#A62735] text-[#FDF4E3] pb-4">
        <div class="flex flex-col items-center justify-center">
            <img src="../assets/img/logoblack.png" class="w-32 h-32 p-2 md:w-48 md:h-48" alt="Logo">
            <h1 class="text-3xl md:text-4xl font-extrabold text-center">Pizzeria Italiana Luca</h1>
        </div>
        <nav>
            <ul class="flex space-x-8 justify-center mt-4 text-lg md:text-xl">
                <li><a href="../src/index.html" class="hover:text-white hover:font-extrabold">Inici</a></li>
                <li><a href="../views/carta.html" class="hover:text-white hover:font-extrabold">Carta</a></li>
                <li class="hidden"><a href="#" class="hover:text-white hover:font-extrabold">Gestió</a></li>
                <li class="hidden"><a href="../views/login.html" class="hover:text-white hover:font-extrabold">Iniciar Sessió</a></li>
            </ul>   
        </nav>
    </header>
    <main class="p-4 mb-24">
        <h2 class="text-3xl md:text-4xl font-extrabold mt-8 mb-4">Usuaris</h2>
        <button class="material-symbols-outlined">person_add</button>
        
    <table>
        <thead>
            <tr>
                <th>Gmail</th>
                <th>Contrassenya</th>
                <th>Rol</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</main>
</body>
</html>